.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}

.dashboard-content {
    flex: 1;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
.pageIcon{
    font-size: 30px;
    color: #93bbfa;
    
}


