.schedule-wrapper{
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}
.schedule-title {
        font-size: 28px;
        font-weight: bold;
        color: #333;
}
