.schedule-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.schedule-form {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 6px;
    background: white;
    min-width: 530px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);

}

.form-group {
    margin-bottom: 15px;
}

.form-input {

    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.time-input {
    background-color: white;
    width: 50%;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    gap: 10px;
    margin-top: 10px;
}

.day-column {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}

.day-label {
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
}

.add-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color:rgba(17, 81, 191, 0.872);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
}

.add-button:hover {
    background-color: rgba(28, 79, 167, 0.872);
}


.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    background-color: white;
}

.schedule-table th {
    background-color: #f5f5f5;
        color: #444;
}

.cell-code {
    font-weight: bold;
    color: #333;
}

.cell-professor {
    font-style: italic;
    font-size: 12px;
    color: #666;
}

.delete-button {
    color: #c0392b;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.delete-button:hover {
    text-decoration: underline;
    background-color: transparent;
}
@media screen and (max-width: 992px) {
    .day-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .schedule-container{
     width: 100%;
    }
    .day-grid {
        grid-template-columns: 1fr;
    
    }

    .schedule-title {
        font-size: 22px;
    }

    .form-input {
        font-size: 13px;
    }

    .schedule-table th,
    .schedule-table td {
        font-size: 12px;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .schedule-container{
    
    }
    .time-input {
    width: 45%;
}
     .day-grid {
       
         width: 40%;
    }
   
    .schedule-title {
        font-size: 20px;

    }

    .add-button {
        width: 40%;
    }

    .day-column {
        min-width: 100%;
    }
}